.header{
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 100;
}

.left-section {
    width: 145px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 2px;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: 75px;
    margin-bottom: 0.5px;
    max-width: 470px;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 188px;
    margin-left: 29px;
    margin-right: 24px;
    flex-shrink: 0;
}

.search:focus{
    outline: 0;
    border-color: blue;
}

.search{   
    padding-left: 10px;
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192, 192);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

    
.hamburger-menu{
    margin-left: 22px;
    margin-right: 24px;
    height: 24px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.search-button{
    height: 40px;
    width: 64px;
    background-color: #f7f7f7;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192, 192);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search-icon{
    height: 24px;
    margin-top: 2px;
}

.mic-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: #f8f8f8;
    margin-left: 10px;
}

.mic-icon {
    margin-top: 2px;
    height: 25px;
}

.right-icon{
    height: 24px;
}

.avatar-icon{
    height: 34px;
    border: none;
    border-radius: 17px;
}

.right-button{
    border: none;
    background-color: transparent;
    height: 28px;
    margin-right: -5px;
}

.notif-container{
    position: relative;
}

.notif-count{
    position: absolute;
    top:  -1px;
    right: -4.1px;
    background-color: #cc0000;
    color: white;
    border-radius: 8.9px;
    padding: 2px 5px 2px 5px;
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 500;
    border: 1.5px;
    border-style: solid;
    border-color: white;
}

.search-button, .mic-button, .right-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tooltip{
    pointer-events: none;
    display: block;
    white-space: nowrap;
    line-height: 1.5;
    padding: 10px 6px 10px 6px;
    border-radius: 2px;
    position: absolute;
    bottom: -56.5px;
    background-color: rgba(71, 71, 71,0.8);
    opacity: 0;
    color: white;
    transition: opacity 0.15s;
}

.mic-button .tooltip{
    pointer-events: none;
    display: block;
    white-space: nowrap;
    line-height: 1.5;
    padding: 10px 6px 10px 6px;
    border-radius: 2px;
    position: absolute;
    bottom: -55.8px;
    background-color: rgba(71, 71, 71,0.8);
    opacity: 0;
    color: white;
    transition: opacity 0.15s;
}

.search-button:hover .tooltip, .mic-button:hover .tooltip, .right-button:hover .tooltip{
    opacity: 1;
}