.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    margin-top: 81px;
    margin-left: 96px;
    margin-right: 24px;
}


.video-thumbnail{
    margin-bottom: 4px;
    position: relative;
}

.video-desc-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
}

.profile-picture{
    width: 36px;
    border-radius: 100%;
}


.video-title{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}

.video-author{
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 12px;
    margin-bottom: 1px;
}

.video-stats{
    display: inline-block;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 12px;
}

.video-time{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 15px;
    right: 4px;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4.5px 4.5px 4px 4px;
    border-radius: 2px;
}

@media (max-width : 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width : 751px) and (max-width : 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width : 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}